<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= product.name %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1><%= title %></h1>
    <h3><%= product.name %></h3>
    <p>product Id = <%= product.id %></p>
    <p>Price $<%= product.price %></p>
    <p><%= product.description %></p>
</body>
</html>